EXPO_PUBLIC_ENV=production
EXPO_PUBLIC_API_ENDPOINT=https://api.gsmfeed.com
EXPO_PUBLIC_APP_URL=https://app.gsmfeed.com
EXPO_PUBLIC_LANDING_URL=https://gsmfeed.com
EXPO_PUBLIC_CURRENT_DOMAIN=gsmfeed.com
EXPO_PUBLIC_RETURN_URL=https://app.gsmfeed.com/membership
